@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --background: hsl(0, 0%, 98%);
  --elements-background: hsl(0, 0%, 100%);
  --on-background: hsl(200, 15%, 8%);
  --on-background-alt: hsl(0, 0%, 52%);
  --shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --chevron: url("./img/chevron-down-light.svg");
}
:root[data-theme="dark"] {
  --background: hsl(207, 26%, 17%);
  --elements-background: hsl(209, 23%, 22%);
  --on-background: hsl(0, 0%, 100%);
  --on-background-alt: hsl(0, 0%, 98%);
  --shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --chevron: url("./img/chevron-down-dark.svg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--background);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  color: var(--on-background);
}

::-webkit-scrollbar {
  width: 1.5rem;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--on-background);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--on-background-alt);
}
input,
select,
button,
option {
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding-left: 6.4rem;
  padding-right: 6.4rem;
}
.heading-primary {
  font-size: 2.4rem;
  font-weight: 800;
}
.btn {
  cursor: pointer;
}
/********************************************************************************************/
.header {
  background-color: var(--elements-background);
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  box-shadow: var(--shadow);
}
.nav,
.form-w {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-theme {
  background-color: transparent;
  border: 0;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}

/********************************************************************************************/
.form {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

.input-box {
  position: relative;
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 2.4rem;
  transform: translateY(-50%);
  font-size: 1.6rem;
}
#text {
  padding: 1.2rem 8rem 1.2rem 4.8rem;
  font-size: 1.6rem;
  background-color: var(--elements-background);
  border: 0;
  box-shadow: var(--shadow);
  border-radius: 5px;
}
#text::placeholder {
  font-size: 1.4rem;
}
.select-box {
  position: relative;
}
.select-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.4rem;
}
#select {
  border: 0;
  box-shadow: var(--shadow);
  padding: 1.2rem 4.8rem 1.2rem 2.4rem;
  border-radius: 5px;
  appearance: none;
  background-color: var(--elements-background);
  background-image: var(--chevron);
  background-repeat: no-repeat;
  background-position: right 2.4rem top 50%;
}
/********************************************************************************************/
.countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 3.2rem;
}
/* @media (width<=1200px) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width<=932px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem;
  }
} */
.country-card:link,
.country-card:visited {
  background-color: var(--elements-background);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease;
  color: var(--on-background);
  text-decoration: none;
}
.country-card:hover,
.country-card:active {
  transform: translateY(-0.5rem);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.card__img-box {
  height: 15rem;
  width: 100%;
}
.card__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
}
.card__content {
  padding: 2.4rem;
  font-size: 1.4rem;
}
.country-name {
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
}
.value {
  color: var(--on-background-alt);
}
.box:not(:last-child) {
  margin-bottom: 1rem;
}
/********************************************************************************************/
.back:link,
.back:visited {
  color: var(--on-background-alt);
  text-decoration: none;
  font-size: 1.6rem;
  background-color: var(--elements-background);
  box-shadow: var(--shadow);
  padding: 1.2rem 4.8rem;
  display: inline-block;
  margin-top: 6.4rem;
  transition: transform 0.5s ease;
}
.back:link:hover,
.back:link:active {
  transform: translateY(-0.5rem);
}
.back-icon {
  color: var(--on-background);
  margin-right: 0.5rem;
  font-size: 2.4rem;
}
.detail-box {
  display: flex;
  gap: 8rem;
  font-size: 1.6rem;
  align-items: center;
  padding-top: 8rem;
}
.detail__img-box {
  flex: 50%;
}
.detail__img {
  width: 100%;
}
.detail__content {
  flex: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  row-gap: 3.2rem;
}

.detail__content .country-name,
.detail__border-box {
  grid-column: 1/-1;
  margin: 0;
  align-items: center;
}
.detail__border-box {
  display: flex;
  gap: 1.2rem;
}
.border__title {
  font-size: 1.6rem;
  font-weight: 600;
}
.border {
  background-color: var(--elements-background);
  padding: 0.5rem 1rem;
  box-shadow: var(--shadow);
  font-size: 1.4rem;
}

/********************************************************************************************/
@media (width<628px) {
  html {
    font-size: 56.25%;
  }
  .header {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
  .form-w {
    flex-direction: column;
    gap: 3.2rem;
    align-items: flex-start;
  }
  .heading-primary {
    font-size: 2rem;
  }
}
@media (width<448px) {
  .container {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
