@mixin gradient($alpha) {
  background: linear-gradient(hsl(236, 72%, 79%, $alpha), hsl(237, 63%, 64%, $alpha));
}
@mixin state($color) {
  color: $color;
  box-shadow: 0 0 0 1px $color;
  background: transparent;
}
