$grayish-blue: hsl(233, 13%, 49%);
$very-light-grayish-blue: hsl(240, 78%, 98%);
$dark-grayish-blue: hsl(232, 13%, 33%);
$light-grayish-blue: hsl(234, 14%, 74%);
$white: #fff;
$dark-gradient: hsl(237, 63%, 64%);

$default-transition: all 0.4s cubic-bezier(0.39, 0.58, 0.57, 1);
