body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}
.heading-secondary {
  color: $grayish-blue;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.5px;
  margin-bottom: 3.2rem;
}
.pricing-card_amount {
  font-size: 6rem;

  span {
    font-size: 3.2rem;
    display: inline-block;
    transform: translateY(-20%);
    padding-right: 1rem;
  }
}
